* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.container { 
    display: block;
    align-items: center;
}

h1 { 
    text-align: center;
}

form input, 
form button,
form label {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    resize: none;
}

.input-error { 
    border: 1px solid rgb(207, 77, 77);
    color: rgb(207, 77, 77);
}

form button { 
    height: 30px;
    background-color: #313630;
    color: #fff;
}

button:hover {
    background-color: #434642;
}

.success-message {
    background-color: #416339;
    padding: 16px;
    color: #fff;
    display: none;
}

.error-message {
    background-color: rgb(207, 77, 77);
    padding: 16px;
    color: #fff;
    display: none;
}
